/* container grid *//*

.visit-cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem; */
/* space between cards *//*

}

*/
/* each card *//*

.visit-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid #ddd;
}

*/
/* header part *//*

.visit-card-header {
  width: 100%;
  background-color: #71639e; */
/* Bootstrap primary *//*

  color: #fff;
  padding: .5rem;
  font-weight: bold;
  font-size: clamp(.55rem, 1.5vw, .9rem); */
/* auto scale text *//*

}

*/
/* body part *//*

.visit-card-body {
  width: 100%;
  background-color: #f8f9fa;
  padding: .3rem;
  font-size: clamp(.5rem, 1.3vw, .85rem); */
/* auto scale text *//*

}
*/

.day-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns = week */
    gap: 4px;
}
.day-calendar button {
    height: 30px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}
.day-calendar button.selected {
    background-color: #0f9d58;
    color: white;
}
